<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/ratings.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_acc.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Referral</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'ratings' %}">ratings</a></li>
            <li><a href="{% url 'my-acc' %}">my-account</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'signup' %}">signup</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>